mixin card(href, img, content, views, comments)
	a.card(href=href)&attributes(attributes)
		article.card__article
			div.card__pic
				img(src=img alt='post-img' srcset='img/photo-dark@2x.jpg 2x')
			div.card__content
				div.card__text
					if block
						block
					else 
						h3 #{content}
				if views && comments
					div.card__statistic
						span.views-post #{views}
						span.comments-post #{comments}