mixin sidebarNews(link, img, content, views, comments)
	a.sidebar-news__link.sidebar-news__link--square(href=href)
		article.sidebar-news__article
			div.sidebar-news__pic
				img(src=img)
			div.sidebar-news__text
				h3 #{content}
				span.views #{views}
				span.comments #{comments}


	









//- div.related
	p.related__title Похожие новости 
	a.related__link.related__link--square(href='#')
		article.related__article
			div.related__pic
				img(src='img/photo-light.jpg')
			div.related__text
				p Facebook презентовал своё первое электронное устройство
				span.views 904
				span.comments 308

	a.related__link.related__link--square(href='#')
		article.related__article
			div.related__pic
				img(src='img/photo-dark.jpg')
			div.related__text
				p Facebook презентовал своё первое электронное устройство
				span.views 904
				span.comments 308

	a.related__link.related__link--square(href='#')
		article.related__article
			div.related__pic
				img(src='img/photo-light.jpg')
			div.related__text
				p Facebook презентовал своё первое электронное устройство
				span.views 904
				span.comments 308